doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    title EDDA: Extreme-scale Distribution-based Data Analysis
    link(rel='stylesheet', href='stylesheets/styles.css')
    link(rel='stylesheet', href='stylesheets/pygment_trac.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    img(src='images/edda.png', width='25%') 
    h1 
      a(href='https://github.com/EDDA-Project')
        | EDDA: Extreme-scale Distribution-based Data Analysis
    h3
      | The Ohio State University, Argonne National Laboratory,
      | Los Alamos National Laboratory
      br
      | Han-Wei Shen (OSU), Tom Peterka (ANL), Jon Woodring (LANL)
      br
      | Gagan Agrawal (OSU), Huamin Wang (OSU), Joanne Wendelberger (LANL)
    h3
      | DOE SC ASCR project on the research for using distributions
      | as a proxy for large-scale data analysis.
    p
      include:md markdown/intro.md
    small
      | Hosted on GitHub Pages &mdash; Theme by 
      a(href='https://github.com/orderedlist') orderedlist
    script(src='javascripts/scale.fix.js')
