include post_mixin.jade

+post(
"End-to-End In Situ Data Processing and Analytics",
"July 29, 2019",
"JLW")
  p
    include:marked markdown/2019-07-29/shen_talk.md

+post(
"Statistical Super Resolution for Data Analysis and Visualization of Large Scale Cosmological Simulations",
"July 29, 2019",
"JLW")
  p
    include:marked markdown/2019-07-29/super_res_talk.md

+post(
"Spatial and Temporal Partitioning of Large-Scale Computer Simulations",
"July 29, 2019",
"JLW")
  p
    include:marked markdown/2019-07-29/casleton_jsm.md

+post(
"Experiments in Machine Learning to Compress Large-Scale Sensor Data",
"July 29, 2019",
"JLW")
  p
    include:marked markdown/2019-07-29/gross_shen_summer.md

+post(
"Visualization and Visual Analysis of Ensemble Data: A Survey",
"July 29, 2019",
"JLW")
  p
    include:marked markdown/2019-07-29/survey.md

+post(
"Uncertainty Visualization Using Copula-Based Analysis in Mixed Distribution Models",
"July 29, 2019",
"JLW")
  p
    include:marked markdown/2019-07-29/copula.md

+post(
"eFESTA: Ensemble Feature Exploration with Surfaces",
"July 29, 2019",
"JLW")
  p
    include:marked markdown/2019-07-29/efesta.md

+post(
"Extreme-Scale Stochastic Particle Tracing for Uncertain Unsteady Flow Visualization and Analysis",
"July 29, 2019",
"JLW")
  p
    include:marked markdown/2019-07-29/sfm.md

+post(
"Parallel Partial Reduction for Large-Scale Data Analysis and Visualization",
"July 29, 2019",
"JLW")
  p
    include:marked markdown/2019-07-29/ppr.md

+post(
"FY18 ASCR Report",
"July 29, 2019",
"JLW")
  p
    include:marked markdown/2019-07-29/fy18_report.md

+post(
"LANL Reverse Site Visit",
"July 29, 2019",
"JLW")
  p
    include:marked markdown/2019-07-29/reverse.md

+post(
"DQNViz: A Visual Analytics Approach to Understand Deep Q-Networks",
"August 13, 2018",
"JLW")
  p
    include:marked markdown/2018-08-13_2.md

+post(
"CoDDA: A Flexible Copula-based Distribution Driven Analysis Framework for Large-Scale Multivariate Data",
"August 13, 2018",
"JLW")
  p
    include:marked markdown/2018-08-13_1.md

+post(
"Dynamic Load Balancing for Parallel Particle Tracing",
"August 10, 2018",
"JLW")
  p
    include:marked markdown/2018-08-10_4.md

+post(
"Statistical-based Super-resolution for Cosmological Emulator",
"August 10, 2018",
"JLW")
  p
    include:marked markdown/2018-08-10_3.md

+post(
"Incremental Training of Cosmological Emulator",
"August 10, 2018",
"JLW")
  p
    include:marked markdown/2018-08-10_2.md

+post(
"Emulator of Cosmological Simulation for Initial Parameters Study",
"August 10, 2018",
"JLW")
  p
    include:marked markdown/2018-08-10_1.md

+post(
"Information Guided Data Sampling and Recovery using Bitmap Indexing",
"April 5, 2018",
"JLW")
  p
    include:marked markdown/2018-4-5_5.md

+post(
"Image and Distribution Based Volume Rendering for Large Data Sets",
"April 5, 2018",
"JLW")
  p
    include:marked markdown/2018-4-5_4.md

+post(
"An Automatic Deformation Approach for Occlusion Free Egocentric Data Exploration",
"April 5, 2018",
"JLW")
  p
    include:marked markdown/2018-4-5_3.md

+post(
"In Situ Prediction Driven Feature Analysis in Jet Engine Simulations",
"April 5, 2018",
"JLW")
  p
    include:marked markdown/2018-4-5_2.md

+post(
"Project renewal -- Introduction",
"April 5, 2018",
"JLW")
  p
    include:marked markdown/2018-4-5_1.md

+post(
"FY16 & first half of FY17 Progress and Updates",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_1.md

+post(
"pAIC: Comparing Partitioning Metrics on Three Datasets",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_9.md

+post(
"Multi-Resolution Climate Ensemble Parameter Analysis with Nested Parallel Coordinates Plot (NPCP)",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_2.md

+post(
"Virtual Retractor: An Interactive Data Exploration System Using Physically Based Deformation",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_3.md

+post(
"Range Likelihood Tree: A Compact and Effective Representation for Visual Exploration of Uncertain Data Sets",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_4.md

+post(
"Homogeneity Guided Probabilistic Data Summaries for Analysis and Visualization of Large-Scale Data Sets",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_5.md

+post(
"Statistical Visualization and Analysis of Large Data Using a Value-based Spatial Distribution",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_6.md

+post(
"Visualizing the Variations of Ensemble Isosurfaces",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_7.md

+post(
"Efficient Distribution-based Feature Search in Multi-field Datasets",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_8.md

+post(
"Scoreboard: Designing a Platform for Comparing Triage Algorithms",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_10.md

+post(
"FY15 Progress and Updates",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_13.md

+post(
"A Novel Approach for Approximate Aggregations over Arrays",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_12.md

+post(
"In-Situ Bitmaps Generation and Efficient Data Analysis based on Bitmaps",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_11.md

+post(
"Towards Statistically-based Error Metrics for Computationally-driven Data Triage",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_10.md


+post(
"A Generalized Framework for Comparing across Data Representations",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_9.md

+post(
"Distribution Driven Extraction and Tracking of Features for Time-varying Data Analysis",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_8.md

+post(
"Efficient Local Histogram Searching via Bitmap Indexing",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_7.md

+post(
"A Compact Multivariate Histogram Representation for Query-driven Visualization",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_6.md

+post(
"An Uncertainty-Driven Approach to Vortex Analysis Using Oracle Consensus and Spatial Proximity",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_5.md

+post(
"Visualization and Analysis of Rotating Stall for Transonic Jet Engine Simulation",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_4.md

+post(
"Software for Distribution Data Modeling and Visualization",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_3.md

+post(
"Uncertainty Modeling and Error Reduction for Pathline Computation in Time-varying Flow Fields",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_2.md

+post(
"Association Analysis for Visual Exploration of Multivariate Scientific Data Sets",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_1.md

+post(
"Self-Adaptive Density Estimation of Particle Data",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_0.md

+post(
"SDMAV Kick-Off PI Meeting",
"January 6, 2015",
"JLW")
  p
    include:marked markdown/2015-01-06_2.md

+post(
"Logo Explanation",
"January 6, 2015",
"JLW")
  p
    include:marked markdown/2015-01-06_1.md

+post(
"Introduction",
"January 6, 2015", 
"JLW")
  p
    include:marked markdown/2015-01-06_0.md

