include post_mixin.jade

+post(
"Software for Distribution Data Modeling and Visualization",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_3.md

+post(
"Uncertainty Modeling and Error Reduction for Pathline Computation in Time-varying Flow Fields",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_2.md

+post(
"Association Analysis for Visual Exploration of Multivariate Scientific Data Sets",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_1.md

+post(
"Self-Adaptive Density Estimation of Particle Data",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_0.md

+post(
"SDMAV Kick-Off PI Meeting",
"January 6, 2015",
"JLW")
  p
    include:marked markdown/2015-01-06_2.md

+post(
"Logo Explanation",
"January 6, 2015",
"JLW")
  p
    include:marked markdown/2015-01-06_1.md

+post(
"Introduction",
"January 6, 2015", 
"JLW")
  p
    include:marked markdown/2015-01-06_0.md

