include post_mixin.jade

+post(
"Project renewal -- Introduction",
"April 5, 2018",
"JLW")
  p
    include:marked markdown/2018-4-5_1.md

+post(
"FY16 & first half of FY17 Progress and Updates",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_1.md

+post(
"pAIC: Comparing Partitioning Metrics on Three Datasets",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_9.md

+post(
"Multi-Resolution Climate Ensemble Parameter Analysis with Nested Parallel Coordinates Plot (NPCP)",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_2.md

+post(
"Virtual Retractor: An Interactive Data Exploration System Using Physically Based Deformation",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_3.md

+post(
"Range Likelihood Tree: A Compact and Effective Representation for Visual Exploration of Uncertain Data Sets",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_4.md

+post(
"Homogeneity Guided Probabilistic Data Summaries for Analysis and Visualization of Large-Scale Data Sets",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_5.md

+post(
"Statistical Visualization and Analysis of Large Data Using a Value-based Spatial Distribution",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_6.md

+post(
"Visualizing the Variations of Ensemble Isosurfaces",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_7.md

+post(
"Efficient Distribution-based Feature Search in Multi-field Datasets",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_8.md

+post(
"Scoreboard: Designing a Platform for Comparing Triage Algorithms",
"March 13, 2017",
"JLW")
  p
    include:marked markdown/2017-3-13_10.md

+post(
"FY15 Progress and Updates",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_13.md

+post(
"A Novel Approach for Approximate Aggregations over Arrays",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_12.md

+post(
"In-Situ Bitmaps Generation and Efficient Data Analysis based on Bitmaps",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_11.md

+post(
"Towards Statistically-based Error Metrics for Computationally-driven Data Triage",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_10.md


+post(
"A Generalized Framework for Comparing across Data Representations",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_9.md

+post(
"Distribution Driven Extraction and Tracking of Features for Time-varying Data Analysis",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_8.md

+post(
"Efficient Local Histogram Searching via Bitmap Indexing",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_7.md

+post(
"A Compact Multivariate Histogram Representation for Query-driven Visualization",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_6.md

+post(
"An Uncertainty-Driven Approach to Vortex Analysis Using Oracle Consensus and Spatial Proximity",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_5.md

+post(
"Visualization and Analysis of Rotating Stall for Transonic Jet Engine Simulation",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_4.md

+post(
"Software for Distribution Data Modeling and Visualization",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_3.md

+post(
"Uncertainty Modeling and Error Reduction for Pathline Computation in Time-varying Flow Fields",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_2.md

+post(
"Association Analysis for Visual Exploration of Multivariate Scientific Data Sets",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_1.md

+post(
"Self-Adaptive Density Estimation of Particle Data",
"October 25, 2015",
"JLW")
  p
    include:marked markdown/2015-10-25_0.md

+post(
"SDMAV Kick-Off PI Meeting",
"January 6, 2015",
"JLW")
  p
    include:marked markdown/2015-01-06_2.md

+post(
"Logo Explanation",
"January 6, 2015",
"JLW")
  p
    include:marked markdown/2015-01-06_1.md

+post(
"Introduction",
"January 6, 2015", 
"JLW")
  p
    include:marked markdown/2015-01-06_0.md

