include post_mixin.jade

+post(
"SDMAV Kick-Off PI Meeting",
"January 6, 2015",
"JLW")
  p
    include:md markdown/2015-01-06_2.md

+post(
"Logo Explanation",
"January 6, 2015",
"JLW")
  p
    include:md markdown/2015-01-06_1.md

+post(
"Introduction",
"January 6, 2015", 
"JLW")
  p
    include:md markdown/2015-01-06_0.md

