include post_mixin.jade

+post(
"Logo Explanation",
"January 1, 2015",
"JLW")
  p
    include:md markdown/2015-1-6_1.md

+post(
"Introduction",
"January 1, 2015", 
"JLW")
  p
    include:md markdown/2015-1-6_0.md

